* {
  background-color: #F4FBFD; }

li {
  padding: 5px;
  font-family: 'Montserrat', sans-serif; }

.name {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 50px;
  max-height: 100px; }

.media {
  max-height: 200px;
  opacity: 0.8; }

.description {
  height: 100px;
  overflow: auto;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 50%;
  margin-top: 40px; }

.logo {
  top: 3%;
  margin-left: 30px;
  width: 12%;
  position: absolute; }

.card-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.card {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 500px;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  max-height: 490px;
  min-height: 490px;
  transform-style: preserve-3d;
  transition: all 1.0s linear; }
  .card .info, .card .row, .card .description, .card .name, .card .breed, .card .text-center,
  .card .phone, .card .content-container, .card .animal, .card li, .card .content-row,
  .card .size, .card .sex, .card .email, .card .front, .card .face {
    background-color: white; }

.card-bg-one {
  position: fixed;
  width: 460px;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  top: 14%;
  max-height: 490px;
  min-height: 490px; }

.card-bg-two {
  position: fixed;
  width: 480px;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  top: 12%;
  max-height: 490px;
  min-height: 490px; }

.heart {
  padding-left: 20px;
  width: 100px;
  opacity: 0.6; }

.x {
  width: 100px;
  padding-right: 20px;
  opacity: 0.5; }

.content-container {
  display: none;
  list-style-type: none;
  position: relative;
  padding: 10px; }

.content-row {
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.button-container {
  position: absolute;
  top: 80%;
  left: 41%;
  width: 18%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.loading-image {
  width: 60%;
  padding: 20px;
  background-color: white; }

.flipped {
  transform: rotateY(360deg);
  box-shadow: 5px -5px -5px rgba(0, 0, 0, 0.4); }

.face {
  backface-visibility: hidden; }

.face.back {
  transform: rotateY(180deg); }

@media only screen and (max-width: 768px) {
  .card {
    position: fixed;
    top: 10%;
    text-align: center;
    width: 300px;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    max-height: 490px;
    min-height: 490px; }
  .card-bg-one {
    position: fixed;
    width: 260px;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    top: 14%;
    max-height: 490px;
    min-height: 490px; }
  .card-bg-two {
    position: fixed;
    width: 280px;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    top: 12%;
    max-height: 490px;
    min-height: 490px; }
  .name {
    font-size: 30px; }
  .media {
    max-height: 130px;
    opacity: 0.8; }
  .content-container {
    width: 100%;
    max-width: 220px;
    padding: 5px; }
  .button-container {
    top: 79%;
    left: 30%;
    width: 42%; }
  .x, .heart {
    width: 80px; }
  .logo {
    width: 24%; }
  .loading-image {
    position: relative;
    z-index: 1;
    width: 100%; }
  .description {
    height: 100px;
    overflow: auto;
    font-family: 'Montserrat', sans-serif; } }
