<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
add a new creature


<form action="/creatures" method="POST">
  <label for="species">Species
    <input type="text" name="species"/>
  </label>

  <label for="family">family
    <input type="text" name="family"/>
  </label>
  <label for="habitat">habitat
    <input type="text" name="habitat"/>
  </label>
  <label for="diet">diet
    <input type="text" name="diet"/>
  </label>
  <label for="planet">planet
    <input type="text" name="planet"/>
  </label>
   <input type="submit" value="ADD NEW CREATURE" />
</form>
<a href='/creatures'>back to games list</a>
{{#creatures}}
  {{id}}
  {{/creatures}}

</body>
</html>


